<body>
  <section id="estudios" class=" proyectos galeria align-items-center">
    <div class="galeria-principal d-flex flex-column justify-content-center align-items-center">
       <h1>Estudios</h1>
    </div>
<!---->
<div class="popular-articles">
	<div class="mini-card-grid">
		<article class="mini-card module module-article article" id="mini-post-302186">
			<header class="mini-article-card-header">
				<div class="mini-article-card-title">
					<div class="mini-article-subhead">
						Instituto: CoderHouse <br>
						<p class="fecha">Fecha: Jul.2022 | Actualmente </p>
					</div>
					<h2 class="">
						<a href="" class="">
							Angular </a>
					</h2>
				</div>
			</header>
			<div class="mini-article-meta">
				<div class="mini-article-byline">
					<div class="author-name-area">
						<div class="author-name-prefix">
							Titulo obtenido
						</div>
						<a class="author-name" href="">
							Ir </a>
					</div>
				</div>
			</div>
		</article>
    <!--2-->
    <article class="mini-card module module-article article" id="mini-post-302186">
			<header class="mini-article-card-header">
				<div class="mini-article-card-title">
					<div class="mini-article-subhead">
						Instituto: CoderHouse <br>
						<p class="fecha"> Jul.2022 | Actualmente </p>
					</div>
					<h2 class="">
						<a href="" class="">
							JavaScript </a>
					</h2>
				</div>
			</header>
			<div class="mini-article-meta">
				<div class="mini-article-byline">
					<div class="author-name-area">
						<div class="author-name-prefix">
							Titulo obtenido
						</div>
						<a class="author-name" href="">
							Ir </a>
					</div>
				</div>
			</div>
		</article>
    <!--3-->
    <article class="mini-card module module-article article" id="mini-post-302186">
			<header class="mini-article-card-header">
				<div class="mini-article-card-title">
					<div class="mini-article-subhead">
						Instituto: CoderHouse <br>
						<p class="fecha">Fecha: Jun.2021 | Ago.2021 </p>
					</div>
					<h2 class="">
						<a href="" class="">
							UXUI Avanzado </a>
					</h2>
				</div>
			</header>
			<div class="mini-article-meta">
				<div class="mini-article-byline">
					<div class="author-name-area">
						<div class="author-name-prefix">
							Titulo obtenido
						</div>
						<a class="author-name" href="https://media.licdn.com/dms/image/C4E2DAQHXZNWIIKST4A/profile-treasury-image-shrink_800_800/0/1636983422396?e=1691002800&v=beta&t=uCZYCniy_VGW_wfb5R-8Yj_SfTrmqlXSlelrDXD1AHg"target="_blank">
							Ir </a>
					</div>
				</div>
			</div>
		</article>
    <!--4-->
    <article class="mini-card module module-article article" id="mini-post-302186">
			<header class="mini-article-card-header">
				<div class="mini-article-card-title">
					<div class="mini-article-subhead">
						Instituto: Platzi <br>
						<p class="fecha">Fecha: Jun.2020 | May.2020 </p>
					</div>
					<h2 class="">
						<a href="" class="">
							Diseño de Interfaces </a>
					</h2>
				</div>
			</header>
			<div class="mini-article-meta">
				<div class="mini-article-byline">
					<div class="author-name-area">
						<div class="author-name-prefix">
							Titulo obtenido
						</div>
						<a class="author-name" href="https://www.linkedin.com/in/marbe-dev/details/education/1635460284610/single-media-viewer/?profileId=ACoAABZWOUIBA-fmIVHpxHL1_XgLuBAo_YFpMFY"target="_blank">
							Ir </a>
					</div>
				</div>
			</div>
		</article>
    <!--5-->
    <article class="mini-card module module-article article" id="mini-post-302186">
			<header class="mini-article-card-header">
				<div class="mini-article-card-title">
					<div class="mini-article-subhead">
						Instituto: Platzi <br>
						<p class="fecha">Fecha: Abr.2020 | Abr.2020 </p>
					</div>
					<h2 class="">
						<a href="" class="">
							UXUI Desing Thinking </a>
					</h2>
				</div>
			</header>
			<div class="mini-article-meta">
				<div class="mini-article-byline">
					<div class="author-name-area">
						<div class="author-name-prefix">
							Titulo obtenido
						</div>
						<a class="author-name" href="https://www.linkedin.com/in/marbe-dev/details/education/1635460486477/single-media-viewer/?profileId=ACoAABZWOUIBA-fmIVHpxHL1_XgLuBAo_YFpMFY"target="_blank">
							Ir </a>
					</div>
				</div>
			</div>
		</article>
    <!--6-->
    <article class="mini-card module module-article article" id="mini-post-302186">
			<header class="mini-article-card-header">
				<div class="mini-article-card-title">
					<div class="mini-article-subhead">
						Instituto: Platzi <br>
						<p class="fecha">Fecha: Abr.2020 | Abr.2020 </p>
					</div>
					<h2 class="">
						<a href="" class="">
							Figma | Atomic Desing </a>
					</h2>
				</div>
			</header>
			<div class="mini-article-meta">
				<div class="mini-article-byline">
					<div class="author-name-area">
						<div class="author-name-prefix">
							Titulo obtenido
						</div>
						<a class="author-name" href="https://www.linkedin.com/in/marbe-dev/details/education/1635455288205/single-media-viewer/?type=DOCUMENT&profileId=ACoAABZWOUIBA-fmIVHpxHL1_XgLuBAo_YFpMFY"target="_blank">
							Ir </a>
					</div>
				</div>
			</div>
		</article>
    <!--7-->
    <article class="mini-card module module-article article" id="mini-post-302186">
			<header class="mini-article-card-header">
				<div class="mini-article-card-title">
					<div class="mini-article-subhead">
						Instituto: Platzi <br>
						<p class="fecha">Fecha: Abr.2021 | Abr.2021 </p>
					</div>
					<h2 class="">
						<a href="" class="">
							Usabilidad Web</a>
					</h2>
				</div>
			</header>
			<div class="mini-article-meta">
				<div class="mini-article-byline">
					<div class="author-name-area">
						<div class="author-name-prefix">
							Titulo obtenido
						</div>
						<a class="author-name" href="https://www.linkedin.com/in/marbe-dev/details/education/1635455289781/single-media-viewer/?profileId=ACoAABZWOUIBA-fmIVHpxHL1_XgLuBAo_YFpMFY"target="_blank">
							Ir </a>
					</div>
				</div>
			</div>
		</article>
        <!--8-->
        <article class="mini-card module module-article article" id="mini-post-302186">
          <header class="mini-article-card-header">
            <div class="mini-article-card-title">
              <div class="mini-article-subhead">
                Instituto: Platzi <br>
                <p class="fecha">Fecha: May.2021 | May.2021 </p>
              </div>
              <h2 class="">
                <a href="" class="">
                  Lean UX | Scope Canvas</a>
              </h2>
            </div>
          </header>
          <div class="mini-article-meta">
            <div class="mini-article-byline">
              <div class="author-name-area">
                <div class="author-name-prefix">
                  Titulo obtenido
                </div>
                <a class="author-name" href="https://www.linkedin.com/in/marbe-dev/details/education/1635460284630/single-media-viewer/?profileId=ACoAABZWOUIBA-fmIVHpxHL1_XgLuBAo_YFpMFY"target="_blank">
                  Ir </a>
              </div>
            </div>
          </div>
        </article>
       <!--9-->
       <article class="mini-card module module-article article" id="mini-post-302186">
        <header class="mini-article-card-header">
          <div class="mini-article-card-title">
            <div class="mini-article-subhead">
              Instituto: Platzi <br>
              <p class="fecha">Fecha: Abr.2020 | Abr.2020 </p>
            </div>
            <h2 class="">
              <a href="" class="">
                Diseño de centrado en el usuario</a>
            </h2>
          </div>
        </header>
        <div class="mini-article-meta">
          <div class="mini-article-byline">
            <div class="author-name-area">
              <div class="author-name-prefix">
                Titulo obtenido
              </div>
              <a class="author-name" href="https://www.linkedin.com/in/marbe-dev/details/education/1635455286304/single-media-viewer/?type=DOCUMENT&profileId=ACoAABZWOUIBA-fmIVHpxHL1_XgLuBAo_YFpMFY"target="_blank">
                Ir </a>
            </div>
          </div>
        </div>
      </article>
     <!--10-->
     <article class="mini-card module module-article article" id="mini-post-302186">
      <header class="mini-article-card-header">
        <div class="mini-article-card-title">
          <div class="mini-article-subhead">
            Universidad Alejandro de Humboldt <br>
            <p class="fecha">Fecha: May.2028 | Jul.2013 </p>
          </div>
          <h2 class="">
            <a href="" class="">
              Licenciado en Publicidad</a>
          </h2>
        </div>
      </header>
      <div class="mini-article-meta">
        <div class="mini-article-byline">
          <div class="author-name-area">
            <div class="author-name-prefix">
              Titulo obtenido
            </div>
            <a class="author-name" href="https://drive.google.com/file/d/1dH3XLLE4vv1cZRc1XLPu8lXWKJMyymdC/view?pli=1"target="_blank">
              Ir </a>
          </div>
        </div>
      </div>
    </article>
	</div>
</div>
  </section>
</body>
