<section id="contacto" class="contacto seccion-oscura">
  <div class="container">
    <div class="container text-center rectangulo d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">
          !Conversemos!
        </div>
        <div class="col-12 col-md-4 descripcion">
          Contactame para iniciar tu proyecto web.
        </div>
          <div class="col-12 col-md-4">
            <a href="mailto:poleomoncada@gmail.com">
              <button type="button">
                Contacto
                <i class="bi bi-envelope-check"></i>
              </button>
            </a>
       </div>
      </div>
    </div>
  </div>
</section>

<!--Pie de pg-(footer)-->
<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
  <img class="footer-logo" src="assets/mpmlogo.png" width="70" alt="logo blanco del portafolio">
  <p class="footer-texto text-center">Aprendo y creo todos los dias. <br></p>
  <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
    <a href="https://www.behance.net/marbe_uxui" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-behance"></i>
    </a>
    <a href="https://www.linkedin.com/in/marbe-dev/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://github.com/Marbeliss" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-github"></i>
    </a>
    <a href="mailto:poleomoncada@gmail.com" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-envelope-check"></i>
    </a>
  </div>
  <div class="derechos-de-autor">Creado por Marbelis Poleo (2023) &#169; </div>
</footer>

<!--2-->
