
<body>
  <section id="habilidades-adicionales" class="habilidades-adicionales seccion-oscura align-items-center">
    <div  class="contenedor d-flex flex-column justify-content-center align-items-center" >
      <h2  class="seccion-titulo">Habilidades adicionales</h2>
      <div class="container text-center"></div>
    </div>
    <div class="container text-center">
      <div class="row align-items-start">

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/OW2.png"  class="imgLogo img-fluid rounded-start" alt="...">
            <p class="titulo">Optimal workshop</p>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/AM3.png"  class="imgLogo img-fluid rounded-center" alt="...">
            <p class="titulo">Angular Material</p>
          </div>
         </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/BOO.png"  class="imgLogo img-fluid rounded-start" alt="...">
            <p class="titulo">Bootstrap</p>
          </div>
        </div>

      </div>
    </div>

    <div class="container text-center">
      <div class="row align-items-center">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/TS.png"  class="imgLogo img-fluid rounded-left" alt="...">
            <p class="titulo">TypeScript</p>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/CSS.png"  class="imgLogo img-fluid rounded-left" alt="...">
            <p class="titulo">CSS</p>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/HTML.png"  class="imgLogo img-fluid rounded-left" alt="...">
            <p class="titulo">HTML</p>
          </div>
        </div>

      </div>
    </div>

    <div class="container text-center">
      <div class="row align-items-end">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/ANG.png"  class="imgLogo img-fluid rounded-right" alt="...">
            <p class="titulo">Angular</p>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/FIGMA.png"  class="imgLogo img-fluid rounded-right" alt="...">
            <p class="titulo">Figma</p>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/GIT.png"  class="imgLogo img-fluid rounded-right" alt="...">
            <p class="titulo">Git Hub</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="row align-items-end">
        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/VSC.png"  class="imgLogo img-fluid rounded-right" alt="...">
            <p class="titulo">Visual Studio Code</p>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/WORD.png"  class="imgLogo img-fluid rounded-right" alt="...">
            <p class="titulo">WordPress</p>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="assets/JS.png"  class="imgLogo img-fluid rounded-right" alt="...">
            <p class="titulo">Java</p>
          </div>
        </div>
      </div>
    </div>






  </section>

</body>
