

h1{
  font-size: 2rem;
  font-family:  'Poppins', sans-serif;
  color: #ffffff;
  margin: 2em;

}



/*fonde de galeria*/
.galeria{

  min-height: 17rem;
  padding-top: 2rem;
  background-image: linear-gradient(to right, #01141c 0%, #080f15 90%);
  position: relative;
}

.galeria-imagen-desarrolador{
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
}

.galeria-inferior-imagen{
  max-width: 100%;
  height: 5rem;
  margin: 1rem;
}

.galeria-inferior{
  display: flex;
  justify-content: center;
}

.card-body{
  background-color: black;
}

/*titulo*/
.card-title{
  color: white;
  font-family:'Poppins', sans-serif;
}

/*parrafo*/
.card-text{
  color: rgb(254, 254, 254);
  font-family:'Poppins', sans-serif;
}

/*color linea del borde*/
.card{
  border: none;

}
 /*Mejorar y separar las tarjetas de boostrap*/
.card-group .card{
  width: 21rem;
  height: 11.5rem;
  border-radius: .5rem;
  box-shadow: 0 2px 7px rgba(0, 0, 0.2);
  overflow: hidden;
  margin: 1.25rem;
  transition: all 0.25s;
}

/*animacion al tocar card*/
.card-group .card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}


/*------------------*/

.card {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-image: linear-gradient(to right, #01141c 0%, #080f15 90%); /*color de card*/
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #eae8e8; /*titulo*/
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #dfdede;
  line-height: 1.4;
}


/*--------------------*/

button {
  color: #090909;
  padding: 0.3em 1.7em;
  font-size: 12px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
  margin: auto;
}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px white,
             -4px -4px 12px #ffffff;
}

/*------------------*/

.iconos-redes-sociales a{
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: blue;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  margin: 1em;

}

.iconos-redes-sociales i{
  color: white;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: linear-gradient(to right, #304352 0%, #D7CCD5 100%);;;;
  border: 2px white;
}

.iconos-redes-sociales a:hover i {
  color: #2A7dfa;
}

