<body>
<section id="proyectos" class=" proyectos galeria align-items-center">
  <div class="galeria-principal d-flex flex-column justify-content-center align-items-center">
     <h1>Proyectos destacados</h1>
  </div>
  <!--imagen inferior-->
<!--1-->
  <div class="card-group">
    <div class="card">
      <img src="assets/P-UXUI-1.png" class="card-img-top" alt="Imagen de proyecto uxui tenedor">
      <div class="card__content">
        <p class="card__title">Proyecto UXUI</p>
        <p class="card__description">Proyecto:Personal. Prototipo de alta fidelidad/animado.<br> Herramientas: Figma </p>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
          <a href="https://www.behance.net/gallery/171609603/Proyecto-UXUI" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-behance"></i>
          </a>
          <a href="https://www.youtube.com/shorts/nsjS7r6hrww" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
<!--2-->
    <div class="card">
      <img src="assets/p-uxui-2.png" class="card-img-top" alt="Imagen de proyecto uxui Discord">
      <div class="card__content">
        <p class="card__title">Proyecto UXUI</p>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
          <p class="card__description">Rediseño app Discord: Metodologia doble diamt, UX Writing, prototipo/a.fidelidad  <br> Herramientas: Figma </p>
          <a href="https://www.behance.net/gallery/127231937/UXUI-Caso-de-estudioRediseno-de-app-Discord" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-behance"></i>
          </a>

        </div>
      </div>
    </div>
<!--3-->
    <div class="card">
      <img src="assets/p-front-1.png" class="card-img-top" alt="Imagen de proyecto anillos">
      <div class="card__content">
        <p class="card__title">Proyecto Frontend</p>
        <p class="card__description">Tutorial: 16 | Galeria responsiva <br> Herramientas: Figma, HTML, CSS, Boostrap, Angular.</p>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
          <a href="https://www.behance.net/gallery/171598007/Tutorial16-web-site-responsivo" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-behance"></i>
          </a>
          <a href="https://github.com/Marbeliss/T-16-GaleriaResponsiva" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.youtube.com/watch?v=1X_cC43TZaM&t=969s" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
<!--4-->
    <div class="card">
      <img src="assets/p-front-2.png" class="card-img-top" alt="Imagen de proyecto jinx">
      <div class="card__content">
        <p class="card__title">Proyecto Frontend</p>
        <p class="card__description">Tutorial: 15 | Responsive website / Superposición de objetos <br> Herramientas: HTML, CSS, Boostrap, Angular</p>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
          <a href="https://www.behance.net/gallery/170309537/Website-responsive-Video-completo-en-Youtube" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-behance"></i>
          </a>
          <a href="https://github.com/Marbeliss/Web-jinx-responsive" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.youtube.com/watch?v=26o0S_nUYpk" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class=" galeria align-items-center">
  <!--imagen inferior-->
  <div class="card-group">
    <!--5-->
    <div class="card">
      <img src="assets/p-uxui-3.png" class="card-img-top" alt="Imagen de banco santander">
      <div class="card__content">
        <p class="card__title">Proyecto UXUI</p>
        <p class="card__description">Rediseño app Banco Santander: Metodologia doble diamt, UX Writing, prototipo/a.fidelidad <br> Herramientas: Figma </p>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
          <a href="https://www.behance.net/gallery/132585331/Caso-de-estudio-UX-UI" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-behance"></i>
          </a>

        </div>
      </div>
    </div>
<!--6-->
    <div class="card">
      <img src="assets/p-uxui-4.png" class="card-img-top" alt="Imagen de proyecto anillos">
      <div class="card__content">
        <p class="card__title">Proyecto UXUI</p>
        <p class="card__description">Proyect Freelance MIDNIGHT <br> Metodologia doble diamt, UX Writing, prototipo/a.fidelidad,Figma  <br>  </p>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
          <a href="https://www.behance.net/gallery/167786017/Proyecto-UXUI" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-behance"></i>
          </a>
        </div>
      </div>
    </div>
<!--7-->
    <div class="card">
      <img src="assets/p-front-3.png" class="card-img-top" alt="Imagen de proyecto Dios de la guerra">
      <div class="card__content">
        <p class="card__title">Proyecto Frontend</p>
        <p class="card__description">Tutorial: 12 | website Web God OF War <br> Herramientas: HTML, CSS, Boostrap, Angular.</p>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
          <a href="https://www.behance.net/gallery/159819329/Web-God-of-War-UXUI-HTML-CSS-ECMA6" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-behance"></i>
          </a>
          <a href="https://github.com/Marbeliss/Web-God-OF-War" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.youtube.com/watch?v=PAObpc1DS1w&t=936s" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
<!--8-->
    <div class="card">
      <img src="assets/p-front-4.png" class="card-img-top" alt="Imagen de proyecto Dios de la guerra">
      <div class="card__content">
        <p class="card__title">Proyecto Frontend</p>
        <p class="card__description">Proyecto:Personal midelo de porfolio <br> Herramientas: Figma </p>
        <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
          <a href="https://www.behance.net/gallery/159043323/Porfolio-UXUI-HTML-CSS-ECMA6" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-behance"></i>
          </a>
          <a href="https://github.com/Marbeliss/Porfolio-Marbeliss-poleo" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class=" galeria align-items-center">
    <!--imagen inferior-->
    <div class="card-group">
      <!--9-->
      <div class="card">
        <img src="assets/p-uxui-6.png" class="card-img-top" alt="Imagen de banco santander">
        <div class="card__content">
          <p class="card__title">Proyecto UXUI</p>
          <p class="card__description">Proyecto:Personal-App yoga <br> Herramientas: Figma </p>
          <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
            <a href="https://www.behance.net/gallery/166877237/Proyecto-propio-de-app-Yoga" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-behance"></i>
            </a>
          </div>
        </div>
      </div>
  <!--10-->
      <div class="card">
        <img src="assets/p-uxui-7.png" class="card-img-top" alt="Imagen de proyecto anillos">
        <div class="card__content">
          <p class="card__title">Proyecto UXUI</p>
          <p class="card__description">Proyecto:Personal-Bambu <br> Proyecto completo UXUI <br>  </p>
          <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
            <a href="https://www.behance.net/gallery/130447325/Caso-de-estudio-UXUI" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-behance"></i>
            </a>
          </div>
        </div>
      </div>
  <!--11-->
  <div class="card">
    <img src="assets/p-front-11.png" class="card-img-top" alt="Imagen de proyecto Dios de la guerra">
    <div class="card__content">
      <p class="card__title">Proyecto Frontend</p>
      <p class="card__description">Registro y Boton animado<br> Herramientas: HTML, CSS, Boostrap, Angular.</p>
      <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
        <a href="https://www.behance.net/gallery/168480893/Tutorial-login-animado" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-behance"></i>
        </a>
        <a href="https://www.youtube.com/watch?v=EWf10MKlsbc&t=1020s" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-youtube"></i>
        </a>
      </div>
    </div>
  </div>

  <!--12-->
      <div class="card">
        <img src="assets/p-front-12.png" class="card-img-top" alt="Imagen de proyecto Dios de la guerra">
        <div class="card__content">
          <p class="card__title">Proyecto Frontend</p>
          <p class="card__description">God of War Website Slider animado <br> Herramientas: HTML, CSS, Boostrap, Angular.</p>
          <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
            <a href="https://www.behance.net/gallery/159819329/Web-God-of-War-UXUI-HTML-CSS-ECMA6" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-behance"></i>
            </a>
            <a href="https://github.com/Marbeliss/Web-God-OF-War" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-github"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=vD1PhE2GKMM&t=1s" target="_blank" rel="noopener noreferrer">
              <i class="bi bi-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <section class=" galeria align-items-center">
      <!--imagen inferior-->
      <div class="card-group">
        <!--13-->
        <div class="card">
          <img src="assets/p-uxui-8.png" class="card-img-top" alt="Imagen de proyecto Dios de la guerra">
          <div class="card__content">
            <p class="card__title">Proyecto UXUI</p>
            <p class="card__description">Proyecto:Caso de estudio Make_sense | freelance <br> Proyecto completo UXUI.</p>
            <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
              <a href="https://www.behance.net/gallery/131531487/Caso-de-estudio-Make_sense-Coderhack" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-behance"></i>
              </a>
            </div>
          </div>
        </div>
    <!--14-->
        <div class="card">
          <img src="assets/p-uxui-14.png" class="card-img-top" alt="Imagen de proyecto anillos">
          <div class="card__content">
            <p class="card__title">Proyecto UXUI</p>
            <p class="card__description">UI de inspiración | Proyecto personal  <br> Metodologia doble diamt, UX Writing, prototipo/a.fidelidad,Figma  <br>  </p>
            <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
              <a href="https://www.behance.net/gallery/166684443/inspiracion-UI" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-behance"></i>
              </a>
            </div>
          </div>
        </div>
    <!--15-->
        <div class="card">
          <img src="assets/p-front-15.png" class="card-img-top" alt="Imagen de proyecto Dios de la guerra">
          <div class="card__content">
            <p class="card__title">Proyecto UXUI</p>
            <p class="card__description">UI de inspiración | Proyecto personal <br> Herramientas: HTML, CSS, Boostrap, Angular.</p>
            <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
              <a href="https://www.behance.net/gallery/166954371/UI-de-inspiracion-Proyecto-personal" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-behance"></i>
              </a>
            </div>
          </div>
        </div>
    <!--16-->
        <div class="card">
          <img src="assets/p-front-16.png" class="card-img-top" alt="Imagen de proyecto Dios de la guerra">
          <div class="card__content">
            <p class="card__title">Proyecto Frontend</p>
            <p class="card__description">Card Hover Effects - Tarjetas con Efecto<br> Herramientas: HTML, CSS, Boostrap, Angular.</p>
            <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
              <a href="https://www.behance.net/gallery/168188097/tutorial-card-hover-effcts" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-behance"></i>
              </a>
              <a href="https://github.com/Marbeliss/tarjetas-3d-" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-github"></i>
              </a>
              <a href="https://www.youtube.com/watch?v=ar-GOUSouEg" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      </section>
    </section>
  </section>
</section>
</body>
