<head>
  <!--tipos letras los tres links-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Poppins&family=Roboto:wght@100&family=Rubik+Dirt&display=swap" rel="stylesheet">
</head>

<body>
  <section class="hero align-items-stretch">
      <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
        <img class="hero-imagen-desarrolador" src="assets/logo-f-b.png" width="200px" alt="Foto de MPM">
        <h1>Hola, soy Marbelis Poleo Moncada</h1>
        <h2>Desarrollo sitios webs increibles y funcionales</h2>
      </div>
      <!--imagen inferior

      <div class="hero-inferior">
        <img class="hero-inferior-imagen img-fluid" src="" alt="logos de herramientas que utilizo">
      </div>
      -->
  </section>
</body>
